<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pluu.savedstate">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name=".ui.MainDemoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.NonStateCounterActivity"
            android:label="1. Non Saved State"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.pluu.savedstate.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.StateCounterActivity"
            android:label="2. Use onSaveInstanceState"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.pluu.savedstate.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ViewModelCounterActivity"
            android:label="3. Use basic ViewModel"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.pluu.savedstate.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.oldstyle.OldStyleCounterActivity"
            android:label="4. Old Style Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.pluu.savedstate.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity_uisaved.SavedStateViewModelCounterActivity"
            android:label="5. Use SavedStatViewModel on Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.pluu.savedstate.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.fragment_uisaved.SavedFragmentActivity"
            android:label="6. Use SavedStatViewModel on Fragment"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.pluu.savedstate.SAMPLE_CODE" />
            </intent-filter>
        </activity>
    </application>

</manifest>